# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.venv

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
property*.db
property*.py
test_flask.py
